/* VARIABLE DEFINITIONS: */
* {
    -fx-my-menu-color: #2e2e2e;                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #505050;      /* Change according to your needs */
    -fx-my-menu-font-color: #FFFFFF;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #FFFFFF; /* Change according to your needs */

    -fx-font-size: 14;
    -fx-background-color: -fx-my-menu-color;
}


.tree-view {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #dcdcdc;
    -fx-border-color: -fx-my-menu-color-highlighted;
    -fx-border-width: 2px;
}
.tree-view .label {
    -fx-background-color: transparent;
    -fx-text-fill: #dcdcdc;
}

.tree-cell {
    -fx-text-fill: #dcdcdc;
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.tree-cell:hover {
    -fx-background-color: #505050;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: #ffffff;
}
.tree-cell:expanded > .tree-disclosure-node {
    -fx-background-color: transparent;
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: #ffffff;
}

.tree-cell > .tree-disclosure-node {
    -fx-background-color: transparent;
}




/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
    -fx-background-color: transparent;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}


/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
    fx-background-color: transparent;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hover .label {
    -fx-fill: -fx-my-menu-color-highlighted;
    -fx-background-color: -fx-my-menu-color-highlighted;
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}


/* General background and text styles */
.code-area {
    -fx-background-color: -fx-my-menu-color;
    -fx-highlight-fill: -fx-my-menu-color-highlighted;
    -fx-highlight-text-fill: -fx-my-menu-font-color-highlighted;
    -fx-font-family: "Consolas", monospace;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-my-menu-font-color;
    -fx-border-color: -fx-my-menu-color-highlighted;
    -fx-border-style: solid solid solid none;
    -fx-border-width: 2px;
    -fx-border-width-right: 0px;
}

.text-area .content {
    -fx-background-color: -fx-my-menu-color;

    -fx-border-style: none solid none solid;
    -fx-border-color: -fx-my-menu-color-highlighted;
}

.text-area {
    -fx-background-color: transparent;

    -fx-border-style: none solid none solid;
    -fx-border-color: -fx-my-menu-color-highlighted;
    -fx-border-width: 2px;

    -fx-highlight-fill: -fx-my-menu-color-highlighted;
    -fx-highlight-text-fill: -fx-my-menu-font-color-highlighted;
    -fx-font-family: "Consolas", monospace;
    -fx-font-size: 12px;
    -fx-text-fill: #8e8e8e;
}

.text-field {
    -fx-border-style: none solid solid solid;
    -fx-border-color: -fx-my-menu-color-highlighted;
    -fx-border-width: 2px;
    -fx-background-color: -fx-my-menu-color;
    -fx-highlight-fill: -fx-my-menu-color-highlighted;
    -fx-highlight-text-fill: -fx-my-menu-font-color-highlighted;
    -fx-font-family: "Consolas", monospace;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-my-menu-font-color;
}



.virtualized-scroll-pane {
    -fx-border-color: -fx-my-menu-color-highlighted;
    -fx-border-width: 2px;
}

.virtualized-scroll-pane > .scroll-bar:vertical {
    -fx-background-color: -fx-my-menu-color;
    -fx-text-fill: -fx-my-menu-color;
}

.lineno {
    -fx-alignment: center-left;
    -fx-font-size: 12px;
    -fx-font-family: Consolas, monospace;
    -fx-padding: 0 10 0 10; /* Add padding */

    -fx-background-color: -fx-my-menu-color;
    -fx-text-fill: -fx-my-menu-font-color;
}

.styled-text-area .text {
    -fx-fill: -fx-my-menu-font-color;
}



/* Syntax Highlighting */

.default {
    -fx-fill: #dcdcdc !important; /* Default light gray text */
}

.keyword {
    -fx-fill: #00bbff !important;
    -fx-font-weight: bold;
}
.alu {
    -fx-fill: #73dbff !important;
    -fx-font-weight: bold;
}

.register {
    -fx-fill: #d299fa !important;
}

.label {
    -fx-fill: #33cc33 !important;
    -fx-font-style: italic;
}

.comment {
    -fx-fill: #999999 !important;
    -fx-font-style: italic;
}


.error {
    -fx-underline: true;
    -fx-fill: red;
}






